div{
    background-color: rgb(233, 207, 233);
}


body{
    background-image: url('watercolor.png');
}

p{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(143, 82, 82);
    text-decoration-line: overline underline;
    text-decoration-style: wavy;
}

h3{
    color: burlywood;
    font-size: 40px;
    font-family: 'Passion One';
    background: lightblue;
    margin-bottom: 0px;
}

li{

}

#Header{
    border:solid 8px black;
    border-bottom-left-radius: 25px;
    width: 500px;
    border-style: solid;
    border-bottom-style: dotted;
    background: url('hip-square.png');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

#Header h1{
    font-size: 60px;
    font-family: 'Passion One', cursive;
    color:burlywood
    font-weight: bold;
}

#LeftNav{
    border:solid 8px black;
    border-radius: 25px;
    background: #e1e9d7;
    padding: 20px;
    width: 400px;
    float: left;
    text-align: center;
    
}

#LeftNav img{

}

#LeftNav ul{
    
}

#LeftNav h3{

}

#Content{
    border:solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

#Footer{
    border:solid 8px black;
    text-align: center;
    border-collapse: separate;
    border-spacing: 50px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}


a{
    color:rgb(212, 175, 175);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}